@font-face {
    font-family: myFirstFont;
    src: url("A2-SCG.ttf");
	: 1000px;
}
@font-face {
    font-family: mySecondFont;
    src: url(Colorblind.otf);
	: 100px;
}
  
p {
    font-family: myFirstFont;
    
}

i {
    font-family: mySecondFont;
    
}
