@font-face {
    font-family: myFirstFont;
    src: url("font256.otf");
	: 22px;
}
@font-face {
    font-family: mySecondFont;
    src: url(Colorblind.otf);
	: 22px;
}
  
p {
    font-family: myFirstFont;
}

body {
  background-image: url('vecteezy_abstract-blue-fluid-wave-background_17798503.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

i {
    font-family: mySecondFont;
    
}
